
server:
    port: 7001

spring:
  application:
    name: cloud-dispatch-service
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: ${spring.application.name}
    stream:
      binders:
        defaultRabbit:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: localhost
                port: 5672
                username: guest
                password: guest
      bindings:
        input:
          destination: paymentExchange
          content-type: application/json
          binder: defaultRabbit
          group: bitforce
